<!-- <section>
</section> -->
<div class="dsc-navigation dark">
  <div>
    <button class="btn btn-primary" routerLink="/app/home">Home</button>
  </div>
  <div>
    <button class="btn btn-primary" routerLink="/app/admin">Admin</button>
  </div>
</div>
<div class="container-fluid dsc-skeleton-content">
  <router-outlet></router-outlet>
</div>
<div class="dsc-footer">
  <div class="footer-container">
    <img src="./assets/angular-icon.png" alt="icon" height="40">
    <p>Integrantes: Luz del Carmen Ruiz, Josué De Santiago, Jorge Guaní y Miguel Angel Ramírez</p>
    <span> </span>
  </div>
</div>
