.dsc-navigation {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.5rem 1rem; */
  background: #fdfdfd;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 20px;
}

.dark {
  background-color: #333333;
}

.dsc-footer {
  height: 60px;
  width: 100%;
  /* padding: 0.5rem 1rem; */
  background-color: #555;
  color: white;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.dsc-footer p {
  font-size: 14px;
  color: white;
  margin: 0;
}

.footer-container {
  padding: 0px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.dsc-skeleton-content {
  min-height: calc(100vh - 80px - 60px);
  background: rgb(0, 0, 0, 0.05);
  background: rgb(177,194,208);
  background: linear-gradient(90deg, rgba(177,194,208,1) 27%, rgba(133,155,209,1) 60%);
}
section {
  background-image: linear-gradient(to left,rgba(117, 117, 218, 0.425),rgb(91, 95, 110));
  height: 174vh;
}



@media screen and (max-width: 800px) {
  .dsc-footer p {
    font-size: 11px;
  }
}