.example-card {
  max-width: 400px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
  border-radius: 6px;
}

.example-header-image {
  background-image: url("https://angular.io/assets/images/logos/angular/angular.svg");
  background-size: cover;
}

.videos_container {
  display: flex;
  flex-wrap: wrap;
}

.video {
  margin: 2rem;
}

.date-card {
  color: #aaaaaa;
  font-size: 10px;
  font-style: italic;
}

.container-card {
  display: flex;
  flex-direction: column;
}

.btn-card-action img {
  height: 50px;
  object-fit: contain;
}

@media screen and (max-width: 600px) {
  .video {
    margin: 2rem 0.25rem 1rem;
  }
  .btn-card-action {
    font-size: 12px;
  }
  .btn-card-action img {
    height: 25px;
  }
}